
@{
    ViewBag.Title = "Email Verification";
}
<h2>@ViewBag.Title</h2>
<p class="text-info">
    @*Please check your email and confirm your email address.*@
    Thank you for your interest in the JABSOM Clinical &amp; Translational Research Graduate Program Database.
    The site administrator will process your account confirmation and you will receive a notification within 24
    hours be able to account if you have been approved.  If you do not receive a notification from the site
    administrator within 24-48 hours, please email qhs@hawaii.edu for assistance.  Mahalo!
</p>

