<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>qhsdb.jabsomit.hawaii.edu/StudentTrackingSystem</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>qhsdb</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site\StudentTrackingSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationDbContext" Order="2" Enabled="True">
          <Destination Path="Data Source=qhsdb;Initial Catalog=MSCTR2;User ID=qhsdb_user;Password=BecomeAkamai(_now_)" Name="Data Source=qhsdb;Initial Catalog=MSCTR2;user id=qhsdb_user;password=BecomeAkamai(_now_);" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=qhsdb;Initial Catalog=MSCTR2;User ID=qhsdb_user;Password=BecomeAkamai(_now_)" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=qhsdb;Initial Catalog=MSCTR2;user id=qhsdb_user;password=BecomeAkamai(_now_);" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SchoolContext" Order="3" Enabled="True">
          <Destination Path="Data Source=qhsdb;Initial Catalog=MSCTR2;User ID=qhsdb_user;Password=BecomeAkamai(_now_)" Name="Data Source=qhsdb;Initial Catalog=MSCTR2;user id=qhsdb_user;password=BecomeAkamai(_now_);" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="StudentTrackingSystem3.DAL.SchoolContext, StudentTrackingSystem3" MigrationConfiguration="StudentTrackingSystem3.Migrations.Configuration, StudentTrackingSystem3" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=qhsdb;Initial Catalog=MSCTR2;user id=qhsdb_user;password=BecomeAkamai(_now_);</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SchoolContext-Web.config Connection String">
      <ParameterValue>Data Source=qhsdb;Initial Catalog=MSCTR2;user id=qhsdb_user;password=BecomeAkamai(_now_);</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>