body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a{
    color: #060;
}

.navigation-entire, .homebtn{
    background-color: #060;
    color: white;
    border: 1px solid #060;
}

.infoNav{
    background-color: white;
    color: #060;
    border: 1px solid #060;
    margin-left: 1em;
    margin-right: 1em;
    white-space: normal;
    /*overflow: hidden;*/
}

.infoNav a:hover, .infoNav a:visited{
    background-color: #060;
    color: white;
    border: 1px solid #060;
}
/*Main navigation for Student*/
#menuNav_background .menuNav_background,
#menuNav_coursework .menuNav_coursework,
#menuNav_performance .menuNav_performance,
#menuNav_graduation .menuNav_graduation,
#menuNav_postgrad .menuNav_postgrad{
    background-color: #060;
    color: white;
}

#menuNav_background .menuNav_background:hover, .infoNav:hover{
    background-color: #7D7;
    color: black;
}



.navigation-entire a, .navigation-entire a:visited{
    color: white !important;
}

.navigation-entire a:hover, .navbuttons a:hover{
    color:darkgray !important;
    background-color: #114020 !important;
}

.navigation-entire a:active{
    color: darkgoldenrod !important;
}


.styled_list{
    margin-left: 15px; 
    margin-right: 0px; padding: 3px 5px 3px 5px; line-height: 25px;
}

.list_chkbx{
    font-weight: normal;
    margin: 0 15px 0 3px; padding: 0px 5px;
}

#report{
    width: 100% !important;
    height: 60vh !important;
}

/* Table Row Header for partitioning (like by semester on Coursework Page) */
.tableRowHeader{
     background-color: #d3f8d3;
}

.narrowAlert {
    padding: 5px 5px 5px 5px;
    width: 14%;
}