@using ReportViewerForMvc;
@{
    ViewBag.Title = "Report - Student Background";
}

<h2>Graduate Student Background</h2>
<br />
<h4>Report</h4>

@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { scrolling = "yes", id = "report"})

